body {
  margin: 0; min-height: 100vh; padding: 1em 1em 0;
  font-family: "Lato",sans-serif; font-weight: 300;
  line-height: 1.5; -webkit-font-smoothing: antialiased }

h1, h2, h3, h4 {
  font-family: "Roboto",sans-serif; font-weight: 400; }

code, output, pre {
  font-family: 'Roboto Mono', monospace; font-weight: 300; }

main {
  max-width: 1080px; }

nav {
  position: absolute; top: 0 }

nav a {
  display: inline-block;
  padding: .5em .5em 0 0; }

code.block {
  display: block; box-sizing: border-box;
  min-width: 100%; padding: 0.5em 1em;
  background-color: #d0f0ff; }

code.block.error {
  background-color: #ffdddd; color: #ee0000 }

output {
  display: grid; box-sizing: border-box;
  grid-auto-flow: row;
  min-width: 100%; padding: 0.5em 1em;
  background-color: #fff2da }

/* Prevent grid blowout */
img { max-width: 100%; }
output, pre { max-width: 100%; overflow: hidden; }